{% extends 'GrdCntrlr/baseM.html' %}

{% block title %}
База данных
{% endblock %}
{% block menu %}
<ul class="nav nav-pills justify-content-center">
  <li class="nav-item"><a href="profile" class="nav-link fw-bolder text-indigo">Профиль</a></li>
  <li class="nav-item "><a href="grades_mobile" class="nav-link fw-bolder text-indigo">Оценки</a></li>   
  <li class="nav-item "><a href="favorite_grades" class="nav-link fw-bolder text-indigo">Избранное</a></li>  
  <li class="nav-item "><a href="nuser_mobile" class="nav-link fw-bolder text-indigo">Вход</a></li>
  <li class="nav-item"><a href="about_mobile" class="nav-link fw-bolder text-indigo">О нас</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">База данных</h1>
</div>
<div class="table-responsive">
    <table class="table table-striped table-sm text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">login</th>
          <th scope="col">password</th>
          <th scope="col">checkbox</th>
          <th scope="col">subjects</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <td>{{ row.id }}</td>
          <td>{{ row.login }}</td>
          <td>{{ row.password }}</td>
          <td>{{ row.checkbox }}</td>
          <td>{{ row.subjects }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}