{% extends 'GrdCntrlr/baseM.html' %}

{% block title %}
Оценки
{% endblock %}
{% block script %}
<script type="text/javascript">
  $(window).scroll(function() {
    sessionStorage.scrollTop = $(this).scrollTop();
  });

  $(document).ready(function() {
    if (sessionStorage.scrollTop != "undefined") {
      $(window).scrollTop(sessionStorage.scrollTop);
  }
  });
  function hdn(el) {
    hdnel = document.getElementById(el.innerHTML + 'hdn');
    if (hdnel.getAttribute('hidden') == null) {
      hdnel.setAttribute('hidden', '')
    } else {
      hdnel.removeAttribute('hidden')
    }
  }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}
{% block menu %}
<ul class="nav nav-pills justify-content-center">
  <li class="nav-item"><a href="database_mobile" class="nav-link fw-bolder text-indigo">Профиль</a></li>
  <li class="nav-item "><a href="grades_mobile" class="nav-link fw-bolder text-indigo">Оценки</a></li>   
  <li class="nav-item bg-indigo"><a href="favorite_grades" class="nav-link fw-bolder text-white">Избранное</a></li>  
  <li class="nav-item"><a href="nuser_mobile" class="nav-link fw-bolder text-indigo">Вход</a></li>
  <li class="nav-item"><a href="about_mobile" class="nav-link fw-bolder text-indigo">О нас</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="row">
  <form method="post" class="col">
    {% csrf_token %}
    <input type="submit" value="Обновить" class="form-control btn-primary" name="refresh">
  </form>
</div>
{% for subject in data %}
{% if subject.favorite == True %}
<input type="hidden" id="{{ subject.subject }}G" name="variable" value="{{ subject.graph }}">
<div class="d-flex justify-content-between flex-wrap row flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2 col-5 text-truncate" onclick="hdn(this)">{{ subject.subject }}</h1>
  <form method="post" class="col-1">
    {% csrf_token %}
    <button class="btn p-0" value="{{ subject.subject }}*1" style="margin-bottom: 0.5rem;" name="favorite" onclick="favorite(this)">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#6610f2" class="bi bi-heart-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
      </svg>
    </button>
  </form>
  <form method="post" id="{{ subject.target }}" class="col-2 text">
    {% csrf_token %}
    <input type="text" placeholder="{{ subject.target }}" class="h2 text-end inv-input bg-light table-input" name="target" onfocus="this.setAttribute('placeholder', '')" onblur="this.setAttribute('placeholder', this.parentNode.id)">
    <input type="submit" hidden value="{{ subject.subject }}" class="form-control" name="invis_target">
  </form>
  <h1 class="h2 col-2 text-end text-primary">{{ subject.mean }}</h1>
  <h1 class="h2 col-2 text-end text-danger-emphasis">{{ subject.amean }}</h1>
</div>
<div class="table-responsive justify-content-center" hidden id="{{ subject.subject }}hdn">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Оценка</th>
          <th scope="col">Иск. оценка</th>
          <th scope="col">Коэфф.</th>
        </tr>
      </thead>
      <tbody>
        {% for grade in subject.grades %}
        <tr>
          <td class="text-primary fw-bolder">{{ grade.grade }}</td>
          <form method="post">
            {% csrf_token %}
            <td>
              <input type="text" placeholder="{{ grade.agrade }}" class="form-control table-input fw-bolder text-danger-emphasis innva" size="1" name="agrade" onfocus="this.setAttribute('placeholder', '')" onblur="this.setAttribute('placeholder', this.parentNode.id)">
              <input type="submit" hidden value="{{ grade.ix }}" class="form-control" name="invis_agrade">
            </td>
          </form>
            <td>{{ grade.coef }}</td>
        {% endfor %}
        </tr>
      </tbody>
    </table>
    <div class="mx-1"><canvas id="{{ subject.subject }}"></canvas></div>
    <div class="mx-1"><canvas id="{{ subject.subject }}A"></canvas></div>
    <script>
      var xValues = JSON.parse(document.getElementById("{{ subject.subject }}G").value)[0];
      var yValues = JSON.parse(document.getElementById("{{ subject.subject }}G").value)[1];
      var y2Values = JSON.parse(document.getElementById("{{ subject.subject }}G").value)[2];

      new Chart("{{ subject.subject }}", {
        type: "line",
        data: {
          labels: xValues,
          datasets: [{ 
            label: 'КОдЦ',
            data: yValues,
            borderColor: "#0a58ca",
            fill: false
          }, 
          { 
            label: 'Иск. КОдЦ',
            data: y2Values,
            borderColor: "#b02a37",
            fill: false
          }]
        },
        options: {
          scales: {
            yAxes: [{
              gridLines: {
                  drawOnChartArea: false
              }
            }],
            xAxes: [{
              gridLines: {
                  drawOnChartArea: false
              }
            }]
          }
        }
      });
    </script>
    <script>
      var xAValues = JSON.parse(document.getElementById("{{ subject.subject }}G").value)[3];
      var yAValues = JSON.parse(document.getElementById("{{ subject.subject }}G").value)[4];
      var y2AValues = JSON.parse(document.getElementById("{{ subject.subject }}G").value)[5];

      new Chart("{{ subject.subject }}A", {
        type: "line",
        data: {
          labels: xAValues,
          datasets: [{ 
            label: 'КОдВиЦ',
            data: yAValues,
            borderColor: "#0a58ca",
            fill: false
          }, 
          { 
            label: 'Иск. КОдВиЦ',
            data: y2AValues,
            borderColor: "#b02a37",
            fill: false
          }],
        },
        options: {
          scales: {
            yAxes: [{
              gridLines: {
                  drawOnChartArea: false
              }
            }],
            xAxes: [{
              gridLines: {
                  drawOnChartArea: false
              }
            }]
          }
        }
      });
    </script>
</div>
{% endif %}
{% endfor %}
{% endblock %}
 