{% extends 'GrdCntrlr/baseM.html' %}

{% block title %}
Оценки
{% endblock %}
{% block script %}
<script type="text/javascript">
  $(window).scroll(function() {
    sessionStorage.scrollTop = $(this).scrollTop();
  });

  $(document).ready(function() {
    if (sessionStorage.scrollTop != "undefined") {
      $(window).scrollTop(sessionStorage.scrollTop);
  }
  });
  function hdn(el) {
    hdnel = document.getElementById(el.innerHTML + 'hdn');
    if (hdnel.getAttribute('hidden') == null) {
      hdnel.setAttribute('hidden', '')
    } else {
      hdnel.removeAttribute('hidden')
    }
  }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}
{% block content %}
<div class="row">
  <form method="post" class="col">
    {% csrf_token %}
    <input type="submit" value="Обновить" class="form-control btn-primary" name="refresh">
  </form>
</div>
{% for subject in data %}
<input type="hidden" id="{{ subject.subject }}G" name="variable" value="{{ subject.graph }}">
<div class="d-flex justify-content-between flex-wrap row flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2 col-6" onclick="hdn(this)">{{ subject.subject }}</h1>
    <form method="post" id="{{ subject.target }}" class="col-2 text">
      {% csrf_token %}
        <input type="text" placeholder="{{ subject.target }}" class="h2 text-end inv-input bg-light table-input" name="target" onfocus="this.setAttribute('placeholder', '')" onblur="this.setAttribute('placeholder', this.parentNode.id)">
        <input type="submit" hidden value="{{ subject.subject }}" class="form-control" name="invis_target">
    </form>
    <h1 class="h2 col-2 text-end text-primary">{{ subject.mean }}</h1>
    <h1 class="h2 col-2 text-end text-danger-emphasis">{{ subject.amean }}</h1>
</div>
<div class="table-responsive justify-content-center row" id="{{ subject.subject }}hdn">
    <table class="table col table-striped table-sm" style="max-width: 350px; max-height: 1px;">
      <thead>
        <tr>
          <th scope="col">Grade</th>
          <th scope="col">aGrade</th>
          <th scope="col">Coef</th>
        </tr>
      </thead>
      <tbody>
        {% for grade in subject.grades %}
        <tr>
          <td class="text-primary fw-bolder">{{ grade.grade }}</td>
          <form method="post">
            {% csrf_token %}
            <td>
              <input type="text" placeholder="{{ grade.agrade }}" class="form-control table-input fw-bolder text-danger-emphasis innva" size="1" name="agrade" onfocus="this.setAttribute('placeholder', '')" onblur="this.setAttribute('placeholder', this.parentNode.id)">
              <input type="submit" hidden value="{{ grade.ix }}" class="form-control" name="invis_agrade">
            </td>
          </form>
            <td>{{ grade.coef }}</td>
        {% endfor %}
        </tr>
      </tbody>
    </table>
    <div class="col mx-1"><canvas id="{{ subject.subject }}"></canvas></div>
    <div class="col mx-1"><canvas id="{{ subject.subject }}A"></canvas></div>
    <script>
      var xValues = JSON.parse(document.getElementById("{{ subject.subject }}G").value)[0];
      var yValues = JSON.parse(document.getElementById("{{ subject.subject }}G").value)[1];
      var y2Values = JSON.parse(document.getElementById("{{ subject.subject }}G").value)[2];

      new Chart("{{ subject.subject }}", {
        type: "line",
        data: {
          labels: xValues,
          datasets: [{ 
            label: 'NoGtT',
            data: yValues,
            borderColor: "#0a58ca",
            fill: false
          }, 
          { 
            label: 'aNoGtT',
            data: y2Values,
            borderColor: "#b02a37",
            fill: false
          }]
        },
        options: {
          scales: {
            yAxes: [{
              gridLines: {
                  drawOnChartArea: false
              }
            }],
            xAxes: [{
              gridLines: {
                  drawOnChartArea: false
              }
            }]
          }
        }
      });
    </script>
    <script>
      var xAValues = JSON.parse(document.getElementById("{{ subject.subject }}G").value)[3];
      var yAValues = JSON.parse(document.getElementById("{{ subject.subject }}G").value)[4];
      var y2AValues = JSON.parse(document.getElementById("{{ subject.subject }}G").value)[5];

      new Chart("{{ subject.subject }}A", {
        type: "line",
        data: {
          labels: xAValues,
          datasets: [{ 
            label: 'NoGtT',
            data: yAValues,
            borderColor: "#0a58ca",
            fill: false
          }, 
          { 
            label: 'aNoGtT',
            data: y2AValues,
            borderColor: "#b02a37",
            fill: false
          }],
        },
        options: {
          scales: {
            yAxes: [{
              gridLines: {
                  drawOnChartArea: false
              }
            }],
            xAxes: [{
              gridLines: {
                  drawOnChartArea: false
              }
            }]
          }
        }
      });
    </script>
</div>
{% endfor %}
{% endblock %}
 